

<div class="container">


        <div class='col-sm-3'>
            <nav-cajero></nav-cajero>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="pagartarjetaform" #fo="ngForm" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pagar con Tarjeta</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">

                            <label class=" control-label col-md-12">Numero de Tarjeta </label>

                            <div class="col-md-4">
                                <input class="form-control" type="text" id="numerotarjeta" pattern="^[0-9-]+$" required
                                       title="Solo números">
                                <span class="validity"></span>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12">Cedula del Cliente</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="cedulacliente" type="text" id="cedulacliente" pattern="^[0-9-]+$" required readonly
                                       title="Solo números">
                                <span class="validity"></span>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12">Cantidad de cuotas</label>

                            <div class="col-md-4">
                                <input class="form-control" type="text" id="cantidadcuotas" pattern="^[0-9-]+$" required
                                       title="Solo números">
                                <span class="validity"></span>
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" (click)="pagartarjeta()">Cobrar con Tarjeta</button>
                            <button type="submit" class="btn btn-primary" (click)="volver()">Volver</button>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
