<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">

 
        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <form (ngSubmit)="buscarprov()" #fo="ngForm" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingresar RUT</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="rut">Rut</label>
                            <div class="col-md-4">

                                <input type="number" class="form-control" name="rut" id="rut" min="10000" max="9999999999999" required />
                                <span class="validity"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

