<div class="container">
   
        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="modprovForm" #fo="ngForm" (ngSubmit)="modificarProveedor()" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proveedor encontrado</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="rut">RUT</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="rut" id="rut" readonly="readonly" value="{{prove.RutProv}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="name">Nombre</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="nombre" id="nombre" value="{{prove.NomProve}}">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="direccion">Direccion</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="direccion" id="direccion" value="{{prove.DirProve}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="telefono">Telefono</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="telefono" id="telefono" value="{{prove.telProve}}" required pattern="^[0-9-]+$" title="Solo números" >

                                <span class="validity"></span>
                            </div>
                        </div>
                      
                       
                    </div>
                    <div class="panel-footer">

                        <button type="submit" class="btn btn-primary" >Modificar Proveedor</button>
                        <button type="button" class="btn btn-primary" (click)="eliminarProveedor()">Eliminar Proveedor</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
