<div class="container">
  
        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="modprodForm" (ngSubmit)="modificarProducto()" #fo="ngForm" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Producto Encontrado</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="cedula">Identificacion</label>
                            <div class="col-md-4">
                                <input class="form-control" type="number" formControlName="id" id="id" readonly="readonly" value="{{a.IdProducto}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="name">Nombre</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="nombre" id="nombre" value="{{a.NomProd}}" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="desc">Descripcion</label>
                            <div class="col-md-4">
                                <textarea class="form-control" formControlName="desc" id="desc"value="{{a.DescProd}}" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="stock">Stock</label>
                            <div class="col-md-4">
                                <input class="form-control" type="number" formControlName="stock"  id="stock" value="{{a.StockProd}}" readonly>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="precio">Precio</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="precio" id="precio" value="{{a.PrecioProd}}" required pattern="^[0-9-]+$" title="Solo números">
                                <span class="validity"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="categoria">Categoria</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="categoria" id="categoria" value="{{a.CatProd}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                        <button type="submit" class="btn btn-primary">Modificar Producto</button>
                        <button type="button" class="btn btn-primary" (click)="eliminarProducto()">Eliminar Producto</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
