<div class="container">
  
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>


            <form [formGroup]="addstockerForm" (ngSubmit)="addstocker()" #fo="ngForm" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Agregar Stocker</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="cedula">Cedula</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="cedula" id="cedula" pattern="^[0-9-]+$" required readonly title="Solo números">
                                <span class="validity"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="name">Nombre</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text"  id="nombre" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="clave">Clave</label>
                            <div class="col-md-4">
                                <input class="form-control" type="password"  id="clave" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="sueldo">Sueldo</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" id="sueldo" required pattern="^[0-9-]+$" title="Solo números">
                                <span class="validity"></span>
                            </div>
                        </div>


                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
       