<div class="container">
   
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="modusuForm" #fo="ngForm" (ngSubmit)="modificarTecnico()" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tecnico Encontrado</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="cedula">Cedula</label>
                            <div class="col-md-4">
                                <input class="form-control" type="number" formControlName="cedula" id="cedula" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="name">Nombre</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" formControlName="nombre" id="nombre" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="clave">Clave</label>
                            <div class="col-md-4">
                                <input class="form-control" type="password" formControlName="clave" id="clave" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="sueldo">Sueldo</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" id="sueldo" formControlName="sueldo" required pattern="^[0-9-]+$" title="Solo números">
                                <span class="validity"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-md-12" for="fecha">Fecha de Ingreso</label>
                            <div class="col-md-4">
                                <input class="form-control" type="datetime-local" formControlName="fecha" id="fecha" readonly>
                            </div>
                        </div>
                       
                    </div>
                    <div class="panel-footer">

                        <button type="submit" class="btn btn-primary">Modificar Tecnico</button>
                        <button type="button" class="btn btn-primary" (click)="eliminarTecnico()">Eliminar Tecnico</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
