<div class="container">

    <div class='row'>
        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <h2>Administradores</h2>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/ingid']">
                        <img src="/img/producto.png" width="300" height="300" >Gestion de Productos
                    </a>
                </li>
               
            </ul>
        </div>
    </div>

</div>>