
<div class="container">


        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <form ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="form-group">
                            <h3 class="panel-title"> Ordenes de Envio </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        <table class='table table-striped' *ngIf="ordenenviolist">
 

                            <thead>
                                <tr>
                                    <th> ID de la Orden </th>
                                    <th> Ubicacion</th>
                                    <th> Localidad</th>
                                    <th> Estado</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let v of ordenenviolist;">
                                    <td>{{ v.IdOE }}</td>
                                    <td>{{ v.UbicacionOE }}</td>
                                    <td>{{ v.LocalidadOE }}</td>
                                    <td>{{ v.EstadoOE }}</td>
                                 

                                    <td>
                                        <a [routerLink]="" (click)="seleccionarOrden(v.IdOE)">
                                         Ver Orden de Envio
                                        </a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>

            </form>

        </div>
    </div>




