

<div class="container">

  
        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="verot" #fo="ngForm" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Orden Envio Agregada</h3>
                    </div>
                    <div class="panel-body">
                     
                        <div class="form-group">

                            <label class=" control-label col-md-12">ID de Venta</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="VentaOE" type="text" id="VentaOE" pattern="^[0-9-]+$" readonly required
                                       title="Solo números">
                                <span class="validity"></span>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12">Destino de la Orden de Envio</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="UbicacionOE" type="text" id="UbicacionOE" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12">Fecha </label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="FechaOE" type="text" id="FechaOE" readonly />


                            </div>

                        </div>

                        <div class="form-group">

                            <label class=" control-label col-md-12">Estado de la Orden de Envio</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="EstadoOE" type="text" id="EstadoOE" readonly>


                            </div>

                        </div>
                        <table class='table' *ngIf="orden">


                            <thead>
                                <tr>
                                    <th> ID del Producto</th>
                                   
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of orden.ProductosOrdenEnvio;">
                                    <td>{{ prod.POE }}</td>
                                  
                                  
                                </tr>

                            </tbody>

                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                          
                            <button type="submit" class="btn btn-primary" (click)="volver()">Volver</button>
                        </div>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
