
<div class="container">

    
        <div class='col-sm-3'>
            <nav-vendedor></nav-vendedor>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="vercompra" #fo="ngForm" novalidate>
                <!--<div [routerLinkActive]="['link-active']">

                    <a [routerLink]="" (click)="printDiv()">
                        <span class='glyphicon glyphicon-save-file'></span> Descargar PDF
                    </a>

                </div>-->
                <div class="panel panel-primary" >

                    <div class="panel-heading">
                        <h3 class="panel-title">Informacion de la Compra</h3>
                    </div>
                    <div class="panel-body">


                        <div class="form-group">

                            <label class=" control-label col-md-12" for="lfecha">Fecha de Compra</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingfecha" type="datetime" id="ingfecha" value="{{comprarechazada.FechaC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12" for="ingmetodo">Metodo de Pago</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingmetodo" type="text" id="ingmetodo" value="{{comprarechazada.MetodoPagoC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12" for="ingcedula">Cedula del Cliente</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingcedula" type="text" id="ingcedula" value="{{comprarechazada.ClienteC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12" for="ingestado">Estado de la Compra</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingestado" type="text" id="ingestado" value="{{comprarechazada.EstadoC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12" for="lfecha">Impuestos</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingimp" type="text" id="ingimp" value="${{comprarechazada.ImpuestosC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12" for="lfecha">Subtotal</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingsubtotal" type="text" id="ingsubtotal" value="${{comprarechazada.SubtotalC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <label class=" control-label col-md-12" for="lfecha">Total</label>

                            <div class="col-md-4">
                                <input class="form-control" formControlName="ingtotal" type="text" id="ingtotal" value="${{comprarechazada.TotalC}}" readonly>

                            </div>

                        </div>
                        <div class="form-group">

                            <table class='table' *ngIf="comprarechazada">
                                <thead>
                                    <tr>

                                        <th>ID del Producto</th>
                                        <th>Cantidad </th>
                                        <th>Importe </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lfc of comprarechazada.LineaCompra;">

                                        <td>{{ lfc.ProductoLC }}</td>
                                        <td>{{ lfc.CantidadLC }}</td>
                                        <td>${{ lfc.ImporteLC }}</td>
                                    </tr>

                                </tbody>

                            </table>


                        </div>

                    </div>
                   

                </div>

            </form>
        </div>
    </div>





