<style>
    body {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 20px;
    }

    .containner {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: azure;
        background-color: azure;
    }

    .containner::after {
        content: "";
        clear: both;
        display: table;
    }

    .containner img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

        .containner img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

    .time-right {
        float: right;
        color: #aaa;
    }

    .time-left {
        float: left;
        color: #999;
    }
</style>
<div class="container">

   
        <div class='col-sm-3'>
            <nav-vendedor></nav-vendedor>
        </div>
        <div class='col-sm-9 body-content'>
            <form (ngSubmit)="sendMessage()" #chatForm="ngForm" ngNativeValidate>
                <!--<ul class="nav nav-tabs">
                    <li *ngFor="let tab of tabs" [ngClass]="{'active': currentRoom==tab.heading}" (click)="OnRoomChange(tab.heading)"><a data-toggle="tab" href="#home">{{tab.heading}}</a></li>
                </ul>-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chat Clientes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">


                        </div>
                        <div class="form-group" *ngIf="messages">
                            <div *ngFor="let message of messages">
                                <label class=" control-label col-md-12" for="mensaje">{{message}}</label>
                            </div>

                        </div>
                      

                    </div>

                    <div class="panel-footer">
                        <div class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" id="message" name="message" class="form-control" placeholder="Escribe el mensaje...." required>
                            </div>
                           
                                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                         
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

