<style>
    input:invalid + span:after {
        content: '✖';
        padding-left: 5px;
    }

    input:valid + span:after {
        content: '✓';
        padding-left: 5px;
    }
</style>
<div class="container">
   
        <div class='col-sm-3'>
            <nav-stocker></nav-stocker>
        </div>
        <div class='col-sm-9 body-content'>
            <form [formGroup]="prodForm" (ngSubmit)="registrarProd()" ngNativeValidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar producto en factura</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-4">

                                <input class="form-control" type="text" id="idprod" readonly formControlName="idprod" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" id="ingcantidad" placeholder="Cantidad..." pattern="^[0-9]+$" required
                                       title="Solo números">
                                <span class="validity"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class=" control-label col-md-12" for="lfecha">Importe</label>
                            <div class="col-md-4">
                              $ {{ingimporte}}
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                            <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
                        </div>
                        
                           
                     
                    </div>
                </div>

            </form>
        </div>
   
</div>
